.collections
    background: $base-gradient
    min-height: 100vh
    display: flex
    flex-direction: column
    &:first-child
        padding-top: 120px
    &__item
        margin: 30px
        display: flex
        // justify-content: space-around
        align-items: center

    &__title
        // margin: 0 5%
        width: 40%
    &__text
        color: $base-color
        padding-bottom: 30px
        text-align: right
        color: $base-color
        font-size: 36px
        font-family: 'Roboto', sans-serif
        font-weight: 400
    &__doors
        width: 60%
        display: flex
        justify-content: space-around
        height: 300px
        
