.main
    grid-column-start: 2
    grid-column-end: 3
    &__title
        color: $base-color
        font-size: 35px
        font-family: 'Montserrat', sans-serif
        font-weight: 400
    &__text
        color: $base-color
        font-size: 24px
        font-family: 'Roboto', sans-serif
        font-weight: 400       