@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap')

$oliveGreen: #5E5E18
$oliveGreenLight: #A5A573
$oliveGreenDark: #838345


body 
  margin: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
    

@import _app, _header, _menu, _main